header {
  background-color: #515A47;
  height: 200px;
}

header h1 {
  font-family: cursive;
  text-align: center;
  color: white;
  font-size: 33px;
}

header p {
  font-family: cursive;
  text-align: center;
  color: white;
}

footer {
  background-color: #515A47;
  font-family: cursive;
  text-align: center;
  color: white;
}

main {
  background-color: silver;
}

main h2 {
  text-align: center;
}

ol, ul {
  color: white;
  margin-left: 300px;
  margin-right: 300px;
}

.list-inside li {
  list-style-position: inside;
}

div {
  text-align: center;
  padding-top: 20px;
}
